header{
    text-align: center;
    background-color: rgba(224, 204, 190, 1);
    justify-self: stretch;
    align-self: stretch;
    grid-row: 1;
    grid-column: 1 / 3;
}

nav{
    background-color: rgba(60, 54, 51, 1);
    min-height: 100%;
    grid-row: 2/4;
    grid-column: 1;
}

article{
    background-color: rgba(238, 237, 235, 1);
    width: 200px;
    height: 225px;
    justify-self: center;
    margin: 5%;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgba(116, 114, 100, 1);
    margin:0 ;
}
footer{
    grid-row: 3;
    grid-column: 2 / 3;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 39px;
}
h2{
    margin-top: 10%;
    margin-bottom: 10%;
}
h3{
    margin: 0%;
}
.bild{
    width: 80%;
    margin: 10%;
    margin-bottom: 5%;
}
.icon{
    margin: 35%;
    margin-bottom: 2%;
    height: 50px;
    width: 50px;
}